@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

html,
body,
.container {
    height: 100%;
    background-color: #f9f9f9;
}
.container {
    display: table;
    vertical-align: middle;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

h3 {
    margin-top: 5px;
}

.panel,
.panel-heading {
    border-radius: 0px;
    border-color: #333;
}

.panel,
.panel-body {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.panel-primary > .panel-heading {
    border-radius: 0px;
    background-color: #333;
    border-color: #333;
}

#turn-status {
    padding: 10px 0px;
    margin: 25px 0 0 0;
}

#turn-status a {
    font-weight: bold;
    text-decoration: underline;
}

.my-turn {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.opponent-turn {
    color: #767676;
    background-color: #f0f0f0;
    border-color: #e9e9e9;
}

.winner {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.loser {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
